@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Armata" sans-serif;
  width: 100%;
}

.leaflet-control-layers-toggle:after{ 
  color:#000 ;
}
.leaflet-control-layers-toggle{ 
  width:auto;
  background-position:3px 50% ;
  padding:3px;
  padding-left:36px;
  text-decoration:none;
  line-height:36px;

}

.leaflet-control-zoom-ut { 

}

.leaflet-control-zoom-in { 

}


.__json-pretty-error__ {
  padding-bottom: 15px;
  cursor: text;
  font-family: sans-serif;
  white-space: pre-line;
}